.grid-background {
  position: fixed;
  top: 80px; /* Header height - adjust as needed */
  left: 0;
  width: 100%;    
  height: calc(100% - 80px); /* Full height minus header */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  ),
  linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-size: 50px 50px;
  z-index: -1;
}

.grid-background::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    transparent,
    rgba(0, 0, 0, 0.9));
}